/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  font-family: "Roboto";
  color: #fff;
}

.main-page {
  height: 100vh;
  width: 100%;
  background-color: #1f2938;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
